.vs
.vscode
.idea
.venv
.env

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

bazel
bazel-out

out
_Out
_Bin
_BinIntermediate
_Tmp

CPTCMakeBuild
CompileCommands

ExternalsVcpkg
ThirdpartyVcpkg
packages

CMakeUserPresets.json

*.sln
*.vcxproj
*.vcxproj.user
*.filters

/vc140.pdb

/Tools/UploadDataToMongoDb/upload_data_mongodb/target