.vs
.vscode
.idea
.venv

bazel
bazel-out

out
_Out
_Bin
_BinIntermediate
_Tmp

CPTCMakeBuild
CompileCommands

ExternalsVcpkg
ThirdpartyVcpkg
packages

CMakeUserPresets.json

*.sln
*.vcxproj
*.vcxproj.user
*.filters

/vc140.pdb